
:root{
    --sgds-masthead-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --sgds-masthead-background-color: hsl(0, 0%, 94%);
    --sgds-masthead-text-color: hsl(0, 0%, 28%);
    --sgds-masthead-link-color: hsl(221, 64%, 55%);
    --sgds-masthead-link-hover-color: hsl(221, 100%, 61%);
    --sgds-masthead-tablet-padding-x: 1.25rem;
    --sgds-masthead-tablet-font-size: 0.75rem;
    --sgds-masthead-crest-color: rgb(239, 51, 32);
}

// @media (prefers-color-scheme: dark) {
//   :root{
//     --sgds-masthead-background-color: hsl(240, 6%, 10%);
//     --sgds-masthead-text-color: hsl(0, 0%, 78%);
//     --sgds-masthead-link-color: hsl(221, 64%, 75%);
//     --sgds-masthead-link-hover-color: hsl(221, 100%, 71%);
//     --sgds-masthead-crest-color: hsl(0, 100%, 54%);
//   }
// }